@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #cd9932;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

#title {
    font-size: 3rem;
    text-align: center;
}

#description {
    margin: 20px auto;
    font-size: 1.2rem;
    text-align: center;
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 700px;
    padding: 2rem;
    color: #222;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 10px 0;
}

.form-group p {
    margin: 15px 0;
    font-size: 1.2rem;
}

input {
    font-size: 1.1rem;
    padding: 0.4rem;
    border-radius: 10px;
    border: none;
}


#dropdown {
    font-size: 1.1rem;
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
}

#submit {
    background-color: rgb(62, 187, 129);
    color: white;
    padding: 10px 0;
    margin-top: 1.2rem;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color: green;
    cursor: pointer;
}